#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 2
set steam_webApiKey "none"
sets tags "protocolo, protocoloV , qbcore , wls "

## You MAY edit the following:
sv_licenseKey "cfxk_1nFOkHjKYvOTGb7Fkdqll_14k8vl"
sv_hostname "Protocolo V | V 0.1"
sets sv_projectName "Protocolo V | Estudio "
sets sv_projectDesc ""
sets locale "es-ES" # replace with your language and location code, like en-US, pt-BR, etc
load_server_icon myLogo.png
sv_enforceGameBuild 3095 #DLC The Chop Shop
set resources_useSystemChat true
set mysql_connection_string "mysql://root@localhost/QBCore_EFA311?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "es"

# QBCore UseTarget
setr UseTarget false

# These resources will start by default.
#ensure [AC]
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure loadingprotocolov
ensure qb-core
ensure [qb]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]
ensure [teleco]
ensure  [RABU]

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:1058251 group.admin #rabudev
add_principal identifier.discord:589432842384179200 group.admin #rabudev

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
